<div>
  <div>
    <h1>
      Photo details
    </h1>
      
    <dl>
      <dt>Image</dt>
      <dd><%= @the_photo.image %></dd>

      <dt>Caption</dt>
      <dd><%= @the_photo.caption %></dd>

      <dt>Owner</dt>
      <dd><%= @the_photo.owner_id %></dd>

      <dt>Posted</dt>
      <dd><%= time_ago_in_words(@the_photo.created_at) %> ago</dd>

      <dt>Likes count</dt>
      <dd><%= @the_photo.likes_count %></dd>

      <dt>Comments count</dt>
      <dd><%= @the_photo.comments_count %></dd>

      <dt>Fans</dt>
      <dd>Rosalia</dd>

      <dt>Add a fan</dt>
      
      <dd>

        <% current_user_likes = Like.where({ :photo_id => @the_photo.id, :fan_id =>session[:user_id] })%>

        <% the_like = current_user_likes.at(0) %>
        
        <% if the_like == nil%>
          <form action = "/add_likes" method ="post">
            <input type ="hidden" name = "query_photo_id" value="<%= @the_photo.id %>">
            <button>Like</button>
          </form>
        <% else %>
          <a href ="/delete_like/<%= @the_photo.id%>" >Unlike</a>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<h2>Comments</h2>
  <table>
    <tr>
      <th>Commenter</th>
      <th>Comment</th>
      <th>Poster</th>
    </tr>

<% @list_of_comments.each do |a_comment| %>
<tr>
  <td>a_comment.owner_id</td>
  <td>a_comment.caption</td>
  <td>a_comment.created_t</td>
</tr>
<% end %>
</table>

<h3>Add a new comment

<form>
  <label for="new_comment">Comment</label>
  <input id="new_comment" name="new_comment" type="text" placeholder="enter a comment..."></input>
  <button>Add comment</button>
</form>
